#BOX{
    background-color: rgb(80, 80, 195);
    color:white;
}

.heading{
    color:rgb(175, 41, 41);
    text-align:center;
    text-transform:capitalize;
}

    
button{
    background-color:green;
}
.content{
    font-family: 'Times New Roman';
}
#outer{
    font-size: 25px;
}
#inner{
    font-size:10px;
}

.pro3{
    height:100px;
    width: 100px;
    background-color:rgb(108, 108, 204);
    border-radius: 20%;
}
.navigb{
    background-color:black;
    color:azure;
    height:40px;
    border: 10px solid rgb(194, 139, 21);
    .buttonA{
        background-color:rgb(194, 139, 21);
        color:black;
    }
    .searchA{
        background-color:white;
        color:black;
    }
    .nameA{
        COLOR:rgb(194, 139, 21);
        FONT-SIZE:20PX;
        font-weight: 500;
    }
    a{
        margin-right:200px;
    }
    

}
.mainA{
    height:700px;
}

.content1{
    height:100px;
    width:100px;
    border: 7px solid rgb(0, 0, 0);
    background-color:rgba(200,150,21,0.5);
    
   
}

.content2{
    height:100px;
    width:100px;
    border: 7px solid rgb(10, 10, 10);
    background-color:rgba(202, 165, 70, 0.5);
    
}
   


.content3{
    height:100px;
    width:100px;
    border: 7px solid rgb(7, 7, 7);
    background-color:rgba(223, 187, 98, 0.5);
    
    
}
footer{
    background-color: black;
    text-align:center;
    color:white;
}

.project5{
     height: 100px;
     width: 100px;
     background-image: url("space_photo.jpg.jpg");
     background-size: cover;
     color:white;
     position: absolute;
     right:0px;
}

#container{

    width:700px;
    height: 500px;
    display: inline-block;
    border: 5px solid black;
    

}
#box1{
    background-color: aqua;
    width:80px;
    height: 80px;
}
#box2{
    background-color: rgb(10, 73, 73);
    width:80px;
    height: 80px;
}
#box3{
    background-color: rgb(5, 112, 112);
    width:80px;
    height: 80px;

}
#box4{
    background-color: rgb(31, 51, 51);
    width:80px;
    height: 80px;

}
#box5{
    background-color: rgb(118, 185, 185);
    width:80px;
    height: 80px;

}
.navbar{
    background-color: rgb(37, 125, 163);
    display: flex;
    justify-content: center;
    

    
}

ul{
    color: aliceblue;
    list-style-type: none;
    display: flex;
    display: inline;
    
    width: 100%;
    margin: 0%;
    padding: 0%;

}
a{
    color: aliceblue;
    text-decoration: none;
    background-color: blue;
    
}


li{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    display: inline;
    justify-content: space-evenly;
}
#pro8{
    
    width:100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid rgb(161, 181, 64);
    border-bottom: 5px solid black;
    animation: SpinAnimaton 1s ease-in-out 0s infinite normal;
    
}    

@keyframes SpinAnimaton{
    from{ transform:rotate(0deg) ;
    }
    to{ transform: rotate(360deg);
    }
}

